body{
    box-sizing: border-box;
    font-family: sans-serif;
}
.home{
    color:white;
    background-image: url('images/2.png');
    background-size: cover;
    opacity: 80%;
    height:32rem;
}
.home-text{
    border: 1px #ffff;
    color:rgb(211, 211, 243);
    font-size: 3rem;
    font-weight: bold;
    text-align: right;
}
.home-text-body{
    font-size: 1.5rem;
    color:black;
    text-align: right;
}
.card{
    border:none;
}
.card:hover{
    box-shadow: rgb(241, 239, 239);
    border:none;
    transition: 1s ease-out;
}